.movie-search {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    border-radius: 4px 0 0 4px;
}

.sort-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.loading {
    color: #666;
    font-size: 18px;
    margin: 20px;
}

.error-message {
    color: red;
    margin-top: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters select {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #555;
    color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
        linear-gradient(135deg, #fff 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
    height: 40px;
}
